<div class="logo">

<nav class="navbar navbar-expand-lg navbar-light">
  <img  src="https://s3-alpha-sig.figma.com/img/79c5/fb0d/01638448e8664523e3606f1df7467437?Expires=1652054400&Signature=PalmYJ-Ys0I6Bx56mYgUuaJ6uDkfHZ7Y-Un7ANYcVKE~euEhQ0H9XTXP~gT47bpoCxrUIuAkeyq5yGdv60MP9QfzZ2E~o~WLqRxnsMbE79XJIGrtkStp10iJthy9se~byCY5kDfDW-TGPTimRsV2bQYupfl5Pn3Zm6yFPEz-oyOinRlDkIYwgcbmRb~On7ZYPNB2DcdlQV40H--ApmL5~o16f3PxfzXGLDYIOXQru5-T3-qNoIAwWcHmAmUzRnJeyUJDMXZlQbp2af6FoBy7lplVA1-ozP73sSpbIcmvU0OZlDTdxRTMZeiRwv~BxS7kFdBRDrECebb5fNwPekdkuA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" />


  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">التصنيفات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">التطبيقات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">طور التطبيق</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</div>
